<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{base :: head}"></head>

<body>
    <div th:replace="~{base :: logo}"></div>

    <div class="container ">

        <div th:replace="~{base :: banner('Cadastrar pedido')}"></div>

        <nava th:replace="~{base :: nav}"></nava>

        <div class="p-2 d-flex justify-content-end">
            <a href="../home"><button class="btn btn-outline-danger">Cancelar</button></a>
        </div>

        <section class="card p-2">
            <form th:object="${novoPedido}" action="/pedido/novo" method="post">
                <div class="mb-3">
                    <label class="form-label">Produto</label>
                    <input th:field="*{nomeProduto}" placeholder="Adicione mome do produto" class="form-control">
                    <small>Informe o nome do produto.</small>
                    <div class="text-danger" th:errors="*{nomeProduto}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Url do produto</label>
                    <input th:field="*{urlProduto}" placeholder="Adicione url do produto" class="form-control">
                    <small>Procure em um site o produto que você quer pedir.</small>
                    <div class="text-danger" th:errors="*{urlProduto}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Url da imagem</label>
                    <input th:field="*{urlImagem}" placeholder="Adicione url da imagem" class="form-control">
                    <small>Procure uma boa imagem do produto.</small>
                    <div class="text-danger"  th:errors="*{urlImagem}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Descrição</label>
                    <textarea th:field="*{descricao}" placeholder="Adicione um descrição..." class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </section>
    </div>
</body>
</html>
