<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" >

<head th:replace="~{base :: head}"></head>

<body>
    <div th:replace="~{base :: logo}"></div>

    <div class="container">

        <div th:replace="~{base :: banner('Meus pedidos')}"></div>

        <nava th:replace="~{base :: nav}"></nava>

        <div class="p-2 text-right d-flex justify-content-end">
            <a href="pedido/cadastrar"><button class="btn btn-outline-success">Novo</button></a>
        </div>

        <section  class="card m-3" th:each="pedido : ${pedidos}">

            <th:block
            <div class="card-header" th:text="${pedido.nomeProduto}"></div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-8 mb-3">
                        <div class="row">
                            <div class="col-md-5">Valor: <spam th:text="${pedido.valor}"></spam></div>
                            <div class="col-md-7">Data de entrega: <spam th:text="${pedido.dataDaEntrega}"></spam></div>
                        </div>
                        <p>Produto</p>
                        <div><input class="form-control" th:value="${pedido.urlProduto}" value="Url do Produto"/></div>
                        <p>Descrição</p>
                        <textarea class="form-control" th:text="${pedido.descricao}">Descrição do pedido.</textarea>
                    </div>
                    <div class="col-12 col-sm-4">
                        <img class="img-thumbnail" th:src="${pedido.urlImagem}">
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>